{% extends 'alumni/base.html' %}
{% load humanize %}

{% block title %}{{ titel }}{% endblock %}

{% block main %}
	
	<h1>{{ titel }}</h1>
	
	{{ uitleg|safe }}
	
	<table class="stripe topalign">
		<tr><th>#</th><th>Naam</th><th>Rhetorica</th><th>Adres</th><th>email</th></tr>
		{% for persoon in personen %}	
			<tr class="{%if not persoon.rhetorica %}andere {% endif %}{% cycle 'oneven' 'even' %}">
				<th>{{ forloop.counter }}</th>
				<td><a href="{% url 'detail' persoon.id %}">{%if persoon.voornaam %}{{ persoon.voornaam }} {% endif %}{{ persoon.achternaam }}</a></td>
				<td>{%if persoon.rhetorica %}{{ persoon.jaar }} {% endif %}{{ persoon.richting }}</td>
				<td>{%if persoon.adres %}{{ persoon.adres|linebreaksbr }}{% endif %}</td>
				<td>{%if persoon.email %}{{ persoon.email }}{% endif %}</td>
			</tr>
		{% endfor %}
	</table>
	
	
{% endblock %}