{% extends 'alumni/base.html' %}
{% load humanize %}

{% block title %}Alumni: {{ letter }}{% endblock %}

{% block main %}
	
	<ul class="alfabetlijst">
		{% for ltr in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
			<li>
				<a href="{% url 'az' ltr %}">{{ ltr }}</a>
				{% if not forloop.last %}
					|
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	
	<h1>Alumni: {{ letter }}</h1>
	
	{% regroup personen by anaam as persoon_lijst %}
	<dl>
		{% for alumni in persoon_lijst %}
			<dt>{{ alumni.grouper }}</dt>
			<dd>{% for persoon in alumni.list %}
					<a href="{% url 'detail' persoon.id %}">{{ persoon.voornaam }}</a>
					({{ persoon.rhetorica }}){% if not forloop.last %}, {% endif %}
				{% endfor %}
			</dd>
		{% endfor %}
	</dl>
	
	
{% endblock %}