<!DOCTYPE html>

{% load staticfiles %}

<html><head>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Roboto:400,400italic,500:latin', 'Roboto+Slab:400,700:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    <title>{% block title %}Welgekomen{% endblock %} | Repertorium Alumni Sint-Barbaracollege Gent</title>
    <link rel="stylesheet" type="text/css" href="{% static 'alumni/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'alumni/styles.css' %}" />
</head>
<body>
    
    <div id="header">
        <h1><a href="/repertorium">Repertorium</a></h1>
        <p id="utility">
            <a href="/repertorium/info">over ons</a>
            {% if user.is_authenticated %}
                {% for group in user.groups.all %}
                    {% if group.name == 'beheer' %}
                        | <a href="/admin">admin</a>
                    {% endif %}
                {% endfor %}
                | <a href="/logout?next=/repertorium/info">logout</a>
            {% else %}
                | <a href="/login">login</a>
            {% endif %}
        </p>
    </div>
    
    <div id="main">
        {% block main %}
            <p>Welgekomen.</p>
        {% endblock %}
    </div>
    
    <div id="footer">
        <p>Verantwoordelijke uitgever: Alumnivereniging Sint-Barbaracollege Gent. <a href="mailto:alumni@sint-barbara.be">Contacteer ons</a> voor info, mededelingen en correcties.</p>
    </div>

</body>
</html>