{% extends 'alumni/base.html' %}
{% load humanize %}

{% block title %}{{ persoon.voornaam }} {{ persoon.achternaam }}{% endblock %}

{% block main %}

<h1>{{ persoon.voornaam }} {{ persoon.achternaam }}
	{% if user.is_authenticated %}
		<span class="editpersoon">[<a href="/admin/alumni/persoon/{{ persoon.id }}/">wijzig</a>]</span>
	{% endif %}
</h1>

<p>Rethorica: 
	<a href="{% url 'klaslijst' persoon.rhetorica.klas.id %}">
		{{ persoon.rhetorica.jaar }} {{ persoon.rhetorica.richting }}</a>
	{% if persoon.rhetorica.klas.titularis %}
		({{ persoon.rhetorica.klas.titularis }})
	{% endif %}
</p>

{% if persoon.leeftijd or persoon.sterfdatum or persoon.gestorven %}
	<p>
		{% if persoon.geboortedatum %}
			° {% if persoon.geboorteplaats %}{{ persoon.geboorteplaats }}, {% endif %}
			{{ persoon.geboortedatum }}
			{% if persoon.gestorven or persoon.sterfdatum %}<br />{% endif %}
		{% endif %}
		{% if persoon.sterfdatum %}
			&dagger; {% if persoon.sterfplaats %}{{ persoon.sterfplaats }}, {% endif %}
			{{ persoon.sterfdatum }}
		{% endif %}
		{% if persoon.leeftijd %}
			({{ persoon.leeftijd }} jaar)
		{% endif %}
	</p>
{% endif %}

{% if aantal_beroepen > 0 %}
	<h3>Beroepsinformatie</h3>
	<ul>
		{% for beroep in beroepen %}
			<li{% if beroep.featured %} class="featured"{% endif %}>
				{% if beroep.van and beroep.tot %}
					{{ beroep.van.year }} - {{ beroep.tot.year }}: 
				{% elif beroep.van %}
					{% if persoon.gestorven or persoon.sterfdatum %} 
						vanaf 
					{% else %}
						sinds
					{% endif %}
					{{ beroep.van.year }}: 
				{% elif beroep.tot %} 
					tot {{ beroep.tot.year }}:  
				{% endif %}
				{{ beroep.beroepsgegevens }}
			</li>
		{% endfor %}
	</ul>
{% endif %}

{% if aantal_contacten > 0 %}
	<h3>Contactinformatie</h3>
	<ul>
		{% for contact in contacten %}
			<li>
				{% if contact.contacttype = "gsm" %}
					GSM {{ contact.contactdata }}
				{% elif contact.contacttype = "linkedin" %}
					<a href="{{ contact.contactdata }}">LinkedIn</a>
				{% elif contact.contacttype = "twitter" %}
					<a href="http://twitter.com/{{ contact.contactdata }}">@{{ contact.contactdata }}</a>
				{% elif contact.contacttype = "website" %}
					<a href="{{ contact.contactdata }}">{{ contact.contactdata }}</a>
				{% elif contact.contacttype = "telefoon" %}
					Tel. {{ contact.contactdata }}
				{% else %}
					{{ contact.contacttype }}: {{ contact.contactdata }}
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endif %}

{% if aantal_adressen > 0 %}
	<h3>Adresgegevens</h3>
	<ul>
		{% for adres in adressen %}
			<li{% if adres.tot %} class="voorbij"{% endif %}>
				{{ adres.adres|linebreaksbr }} 
				<span class="addresinfo">
					{% if adres.van and adres.tot %}
						({{ adres.van.year }} - {{ adres.tot.year }}) 
					{% elif adres.van %}
						{% if persoon.gestorven or persoon.sterfdatum %} 
							(vanaf 
						{% else %}
							(sinds 
						{% endif %}
						{{ adres.van.year }}{% if not adres.tot %}){% endif %}
					{% elif adres.tot %} 
						{% if not adres.van %}({% endif %}tot {{ adres.tot.year }})
					{% endif %}
				</span>	
			</li>
		{% endfor %}
	</ul>
{% endif %}

{% if aantal_betalingen > 0 %}
	{% if user.is_authenticated %}
		<h3>Betalingen en lidgelden</h3>
		<table class="betaling">
			<tr><th>Datum</th>
				<th>Type</th>
				<th>Bedrag</th>
				<th>Betalingsjaar</th>
				<th>Opmerkingen</th>
			</tr>
			{% for betaling in betalingen %}
				<tr class="{% cycle 'oneven' 'even' %}">
					<td>{% if betaling.datum %}{{ betaling.datum }}{% else %}--{% endif %}</td>
					<td>{% if betaling.soortbetaling %}{{ betaling.soortbetaling }}{% else %}--{% endif %}</td>
					<td>{% if betaling.bedrag %}{{ betaling.bedrag }}{% else %}--{% endif %}</td>
					<td>{% if betaling.betalingsjaar %}{{ betaling.betalingsjaar }}{% else %}--{% endif %}</td>
					<td>{% if betaling.opmerking %}{{ betaling.opmerking }}{% else %}--{% endif %}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endif %}

<p>Laatste wijziging: {{ persoon.wijziging }} ({{ persoon.wijziging|naturaltime }})</p>

{% endblock %}