{% extends 'alumni/base.html' %}
{% load humanize %}
{% load app_filters %} 

{% block title %}Welgekomen{% endblock %}

{% block main %}
	<h1>Repertorium Alumni Sint-Barbaracollege Gent</h1>

	<p>Welkom op het repertorium van de Alumnivereniging van het Sint-Barbaracollege. 
		Hier vindt u alle leerlingen die sinds 1837 afstudeerden: per decennium een overzicht
		van alle klassen, en per klas een lijst van alle leerlingen.
	</p>
	
	<table class="jaarnav">
		<tr><th>19de eeuw</td><td></td><td></td><td></td><td><a href="dec/1830">1830</a></td><td><a href="dec/1840">1840</a></td><td><a href="dec/1850">1850</a></td><td><a href="dec/1860">1860</a></td><td><a href="dec/1870">1870</a></td><td><a href="dec/1880">1880</a></td><td><a href="dec/1890">1890</a></td></tr><tr><th>20ste eeuw</th><td><a href="dec/1900">1900</a></td><td><a href="dec/1910">1910</a></td><td><a href="dec/1920">1920</a></td><td><a href="dec/1930">1930</a></td><td><a href="dec/1940">1940</a></td><td><a href="dec/1950">1950</a></td><td><a href="dec/1960">1960</a></td><td><a href="dec/1970">1970</a></td><td><a href="dec/1980">1980</a></td><td><a href="dec/1990">1990</a></td></tr><tr><th>21ste eeuw</th><td><a href="dec/2000">2000</a></td><td><a href="dec/2010">2010</a></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	</table>
	
	<p>We proberen ook telkens beroepsinfo te geven, en contactmogelijkheden (inclusief oude adressen, wat handig kan zijn als het meest recente adres niet meer zou kloppen).</p>
	<p>Ziet u ergens een fout of wilt u iets aanvullen? Laat het ons weten op <a href="mailto:alumni@sint-barbara.be">alumni@sint-barbara.be</a>!</p>
	
	<h2>Personalia</h2>
	{% if personalia %}
		{% regroup personalia by gebeurtenistype as gebeurtenissen %}
		
		{% for gebeurtenis in gebeurtenissen %}
			<h3>{{ gebeurtenis.grouper|capfirst }}</h3>
		
			{% if gebeurtenis.grouper == "overlijden" %}
				{% if overleden %}
					<table class="personalia topalign">
						{% for persoon in overleden %}			
							<tr><th class="nobr">
									{% if persoon.rhetorica %}
										{{ persoon.rhetorica }}
									{% endif %}
								</th>
								<td><a href="{% url 'detail' persoon.id %}">
										{{ persoon.voornaam }}
										{{ persoon.achternaam }}</a>, 
									op {{ persoon.sterfdatum }}
								</td>
							</tr>
						{% endfor %}
					</table>
				{% endif %}
			
				<p>
					{% for item in gebeurtenis.list %}			
						{% ifchanged item.omschrijving %}
							{{ item.omschrijving}}, op {{ item.datum }} 
							<span class="onbelangrijk">[<a href="{% url 'detail' item.persoon_id %}">{{ item.persoon.voornaam }}
								{{ item.persoon.achternaam }}</a>{% if item.persoon.rhetorica %}, {{ item.persoon.rhetorica }}{% endif %}]</span><br />
						{% endifchanged %}
					{% endfor %}
				</p>

			{% else %}
			
				<table class="personalia topalign">
					{% for item in gebeurtenis.list %}			
						<tr><th class="nobr">
								{% if item.persoon.rhetorica %}
									{{ item.persoon.rhetorica }}
								{% endif %}
							</th>
							<td>{{ item.datum }}:
								<a href="{% url 'detail' item.persoon_id %}">
									{{ item.persoon.voornaam }}
									{{ item.persoon.achternaam }}</a> 
								- {{ item.omschrijving}}
							</td>
						</tr>
					{% endfor %}
				</table>
				
			{% endif %}
		{% endfor %}
		
	{% else %}
		<p>Geen recente personalia.</p>
	{% endif %}	
	
	{% if adreswijzigingen %}
		<h3>Adreswijzigingen</h3>
		<table class="personalia topalign">
			{% for adres in adreswijzigingen %}
				<tr><th class="nobr">
						{% if adres.persoon.rhetorica %}
							{{ adres.persoon.rhetorica }}
						{% endif %}
					</th>
					<td><a href="{% url 'detail' adres.persoon_id %}">
							{{ adres.persoon.voornaam }}
							{{ adres.persoon.achternaam }}</a>, {{ adres.adreskomma}} 
							<span class="onbelangrijk">[sinds {{ adres.van }}]</span>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
		
	
	{% if wijzigingen and request.user|has_group:"beheer" %}
		<h3>Recent gewijzigd in de database (beheerders)</h3>
		<ul>
		{% for persoon in wijzigingen %}
			<li><a href="{% url 'detail' persoon.id %}">
					{{ persoon.voornaam }}
					{{ persoon.achternaam }}</a>
				({{ persoon.wijziging|naturaltime }})
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>Geen recent gewijzigde personen.</p>
	{% endif %}	
{% endblock %}