{% extends 'alumni/base.html' %}
{% load humanize %}
{% load thumbnail %}

{% block title %}{{ klas.jaar }} {{ klas.klasnaam }}{% endblock %}

{% block main %}
	
	<h1>{{ klas.jaar }} {{ klas.klasnaam }}</h1>
	{% if klas.titularis %}
		<h2>{{ klas.titularis }}</h2>
	{% endif %}
	
	{% if klasfotos.count %}
		{% for klasfoto in klasfotos %}
			{% if klasfoto.datum.year = klas.jaar %}
				<div class="klasfoto">
					<a href="{{ klasfoto.foto.url }}">
						{% thumbnail klasfoto.foto "640" as im %}
    						<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
						{% endthumbnail %}
					</a>
				</div>
			{% else %}
				<div class="klasfoto reunie">
					<a href="{{ klasfoto.foto.url }}">
						{% thumbnail klasfoto.foto "200" as im %}
    						<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
						{% endthumbnail %}
					</a>
					<!-- <div class="legende">{{ klasfoto.legende }}</div> -->
					<div class="jaar">{{ klasfoto.datum }}</div>
				</div>
			{% endif %}
		{% endfor %}
		<br style="clear: both" />
	{% endif %}

	{% regroup personen by richting as persoonlijst %}
	{% for persoon in persoonlijst %}
		{% if aantal_klassen > 1 %}
			<h3>{{ persoon.grouper }}</h3>
		{% endif %}
		<ol class="klaslijst">
			{% for leerling in persoon.list %}
				<li><a href="{% url 'detail' leerling.id %}">{{ leerling.voornaam }} {{ leerling.achternaam }}</a>
					{% if leerling.overleden or leerling.sterfdatum %} 
						&dagger; {% if leerling.sterfplaats %}{{ leerling.sterfplaats }}, {% endif %} {% if leerling.sterfdatum %}{{ leerling.sterfdatum }}{% endif %}
						{% if leerling.leeftijd %}({{ leerling.leeftijd }} jaar){% endif %}
					{% endif %}
					{% if leerling.klasvertegenwoordiger %} 
						<span class="klasvertegenwoordiger">[klasafgevaardigde]</span>
					{% endif %}
					{% for adres in adressen %}
						{% if adres.persoon.id = leerling.id %}
							<br />{{ adres.adres|linebreaksbr }}
						{% endif %}
					{% endfor %}
				</li>
			{% endfor %}
		</ol>
	{% endfor %}

{% endblock %}