{% extends 'alumni/base.html' %}
{% load humanize %}
{% load thumbnail %}
{% load formatcontact %}

{% block title %}{{ klas.jaar }} {{ klas.klasnaam }}{% endblock %}

{% block main %}
	
	<h1>
		{{ klas.jaar }} {{ klas.klasnaam }}
		<span class="download"><a href="{% url 'klaslijst' 'x' klas.id %}">Download klaslijst</a></span>
	</h1>
	{% if klas.titularis %}
		<h2>{{ klas.titularis }}</h2>
	{% endif %}
	
	{% if klasfotos.count %}
		{% for klasfoto in klasfotos %}
			{% if klasfoto.datum.year = klas.jaar %}
				<div class="klasfoto">
					<a href="{{ klasfoto.foto.url }}" 
						class="lytebox"
						data-lyte-options="group:klasfoto"
						{% if klasfoto.legende %}
							data-description="{{ klasfoto.legende }}"
						{% endif %}
						data-title="Klasfoto ({{ klasfoto.datum.year }})">
						{% thumbnail klasfoto.foto "640" as im %}
    						<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
						{% endthumbnail %}
					</a>
				</div>
			{% else %}
				<div class="klasfoto reunie">
					<a href="{{ klasfoto.foto.url }}" 
						class="lytebox"
						data-lyte-options="group:klasfoto"
						{% if klasfoto.legende %}
							data-description="{{ klasfoto.legende }}"
						{% endif %}
						data-title="{{ klasfoto.datum.year }}">
						{% thumbnail klasfoto.foto "200" as im %}
    						<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ klasfoto.legende }}">
						{% endthumbnail %}
					</a>
					<div class="jaar">{{ klasfoto.datum }}</div>
				</div>
			{% endif %}
		{% endfor %}
		<br style="clear: both" />
	{% endif %}

	{% regroup personen by richting as persoonlijst %}
	{% for persoon in persoonlijst %}
		{% if aantal_klassen > 1 %}
			<h3>{{ persoon.grouper }}</h3>
		{% endif %}
		<ol class="klaslijst">
			{% for leerling in persoon.list %}
				<li>{% if leerling.publiek %}
						<a href="{% url 'detail' leerling.id %}">{{ leerling.voornaam }} {{ leerling.achternaam }}</a>
						{% if leerling.overleden or leerling.sterfdatum %} 
							&dagger; {% if leerling.sterfplaats %}{{ leerling.sterfplaats }}, {% endif %} {% if leerling.sterfdatum %}{{ leerling.sterfdatum }}{% endif %}
							{% if leerling.leeftijd %}({{ leerling.leeftijd }} jaar){% endif %}
						{% endif %}
						{% if leerling.klasvertegenwoordiger %} 
							<span class="klasvertegenwoordiger">[klasafgevaardigde]</span>
						{% endif %}
						{% for adres in adressen %}
							{% if adres.persoon.id = leerling.id %}
								<br />{{ adres.adres|linebreaksbr }}
							{% endif %}
						{% endfor %}
						{% if leerling.overleden and leerling.sterfdatum and contacten.count > 0  %}
							{% for contact in contacten %}
								{% if contact.persoon.id = leerling.id %}
									<br />{{ contact.contactmiddel.template|formatcontact:contact.contactdata|safe }}
								{% endif %}
							{% endfor %}
						{% endif %}
					{% else %}
						{{ leerling.voornaam }} {{ leerling.achternaam|make_list|first }}.
						<br /><em>[gegevens privé]</em>
					{% endif %}
				</li>
			{% endfor %}
		</ol>
	{% endfor %}
	
	

{% endblock %}