{% extends 'alumni/base.html' %}
{% load humanize %}

{% block title %}{{ klas.jaar }} {{ klas.klasnaam }}{% endblock %}

{% block main %}
	
	<h1>{{ klas.jaar }} {{ klas.klasnaam }}</h1>
	{% if klas.titularis %}
		<h2>{{ klas.titularis }}</h2>
	{% endif %}
	
	{% regroup personen by richting as persoonlijst %}
	{% for persoon in persoonlijst %}
		{% if aantal_klassen > 1 %}
			<h3>{{ persoon.grouper }}</h3>
		{% endif %}
		<ol>
			{% for leerling in persoon.list %}
				<li><a href="{% url 'detail' leerling.id %}">{{ leerling.voornaam }} {{ leerling.achternaam }}</a>
					{% if leerling.klasvertegenwoordiger %} 
						<span class="klasvertegenwoordiger">[klasafgevaardigde]</span>
					{% endif %}
				</li>
			{% endfor %}
		</ol>
	{% endfor %}

{% endblock %}